<p>
  Vos <%= link_to "repères temporels", source_labels_path(@source) %> sont normalement créés automatiquement par votre logiciel de gestion d'antenne ou votre table de mixage. 
</p>   
<p>
  Nom des musiques, jingles, PADs, ouverture/fermeture des micros, ... autant d'évènements qui vous permettent de retrouver très facilement l'extrait diffusé sur votre antenne.
</p>
<p>
  Vous pouvez néanmoins <%= link_to "créer un repère manuellement", new_source_label_path(@source) %> pour, par exemple, annoter une émission ou repérer un problème technique.
</p>
