<p>
  Your <%= link_to "labels", source_labels_path(@source) %> are normally created automatically by our broadcast management system and/or your mixer. 
</p>   
<p>
  Music titles, stings, show names, microphone opening or closing, ... with all these events, you can find easily a broadcasted chunk.
</p>
<p>
  You can <%= link_to "create manually a label", new_source_label_path(@source) %>, for example to annotate a show or mark a technical problem.
</p>
