Source: pigecontrol
Section: sound
Priority: optional
Maintainer: Alban Peignier <alban@tryphon.eu>
Build-Depends: debhelper, cdbs, ruby1.9.1 (>= 1.9.3), ruby1.9.1-dev (>= 1.9.3), libopenssl-ruby, libssl-dev, libsqlite3-dev, libtagc0-dev, libtag1-dev, python, git-core
Standards-Version: 3.8.1
Homepage: http://projects.tryphon.eu/projects/pigecontrol

Package: pigecontrol
Architecture: all
Depends: ruby, libsqlite3-ruby, libtagc0, rake, rubygems, sox, irb
Recommends: libapache2-mod-passenger
Description: Web interface to manage records and labels supported by a
 PigeBox system
 .
 See <http://projects.tryphon.eu/projects/pigecontrol/> for more info.
