<p>
  L'enregistrement de votre antenne est continu. Ainsi à tout moment, vous pouvez extraire
  une émission, une chronique ou la réponse d'un invité pour la rediffuser ou la mettre en ligne.
</p>
<p>
  Il suffit pour cela, soit d'indiquer <%= link_to "une heure de début et de fin", new_source_chunk_path(@source) %>,
  soit de sélectionner <%= link_to "2&nbsp;repères temporels", source_labels_path(@source) %>.
</p>
