<p>
  Your broadcast is continuously recorded. By this way, you can extract, at any time,
  a program to broadcast it again or to publish it on the web.
</p>
<p>
  You just have to specify <%= link_to "a begin and an end times", new_source_chunk_path(@source) %>,
  or to select <%= link_to "2&nbsp;labels", source_labels_path(@source) %>.
</p>
