<p>
  Vous ne connaissez pas exactement le début et l'heure de l'extrait de vous souhaiter récupérer ?
  Sélectionnez <%= link_to "2&nbsp;repères temporels", source_labels_path(@chunk.source) %>.
</p>
